<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>

<table>

<tr>
<% @comments.each do |comment| %>
<tr>
<tr>
<td>
<!-- number -->
</td>
<td>
comment.content
</td>
</tr>
<tr>
<td>
</td>
<td>
</td>
</tr>
</tr>
<% end %>
</tr>
</table>
