<!-- Header file -->
<%= yield :head %>

<header>
<nav>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/" style="padding:0;margin:0" >
			<%= image_tag "logo_small.png" %>
			</a>
			<ul class="nav">
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
				</li>
			</ul>
      <ul class="nav pull-right">
		
		</ul>
    </div>
  </div>
</div>
</header>
</nav>
<br />
<br />
<br />

